/* Author Basic Info Starts here*/
.blog-author img, .blog-author div {
    display: inline-block;
    vertical-align: top;
}
.blog-author img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.blog-author div {
    padding-left: 15px;
}
.blog-author div p {
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
}
/* Author Basic Info Ends Here*/

/*Author basic info and like share common*/
.like-share, .blog-author {
    display: inline-block;
    vertical-align: top;
}

/*Like And Share*/
.like-share li a {
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.like-share li a:hover {
    border: 1px solid #333;
}
.like-share ul li i {
    width: 20px;
    height: 20px;
}
.like-share .like-blog {
    position: relative;
}
.like-share .like-blog img {
    width: 20px;
    height: 20px;
    /*Below code is to center align both vertically and horizontally an image inside any element(this element should have postion relative*/
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Center align code ends here*/
    /*Another approach to center align both vertically and horizontally an image inside any element
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    Center align code ends here*/
    /*Another approach to center align both vertically and horizontally an image inside any element
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    Center align code ends here*/
}
.share-blog i:before {
    content: '\f064';
    font-family: FontAwesome;
}
.comment-on-blog i:before {
    content: '\f0e5';
    font-family: FontAwesome;
}