header {
    border-bottom: 2px solid #4682b4;
}

.header-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
}

header .header-container img {
    display: inline-block;
    vertical-align: middle;
}
header .header-container img {
    margin-right: 10px;
}
header .header-container > div {
    display: inline-block;
}
header .logo, header .primary-navigation {
    display: inline-block;
    vertical-align: bottom;
}
header .logo {
    width: 20%;
}
.header-container > div:last-child {
    width: 80%;
    text-align: right;
}
.primary-navigation ul li {
    display: inline-block;
    position: relative;
    text-align: left;
}
.primary-navigation ul li.active-nav a {
    background-color: #4682b4;
    color: white;
    opacity: 1;
}
.primary-navigation ul li a {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    padding: 15px;
    border: 2px solid transparent;
    border-bottom: 0;
    letter-spacing: 1px;
    border-radius: 5px 5px 0 0;
    opacity: 0.7;
}
.primary-navigation ul li a:hover {
    background-color: #4682b4;
    color: #fff;
    opacity: 1;
}
.primary-navigation ul li a:hover::after {
    color: #fff;
}
.primary-navigation ul .accordion-button-required::after {
    font-family: fontawesome;
    content: '\f078';
    position: relative;
    left: 10px;
    font-size: 14px;
    top: -2px;
}

.primary-navigation ul .accordion-button-required:hover::after {
    content: '\f077';
    color: #fff;
}

.primary-navigation .sub-navigation {
    position: absolute;
    padding-top: 12px;
    display: none;
    min-width: 100%;
}
.primary-navigation ul li.show-sub-navigation .sub-navigation, .primary-navigation .sub-navigation:hover {
    display: block;
    background-color: #4682b4;
}
.primary-navigation .sub-navigation li {
    display: block;
}
.primary-navigation .sub-navigation li a {
    color: #fff;
}
.header-menu-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header-menu-icon {
        display: inline-block;
        width: 42px;
        height: 42px;
        vertical-align: super;
        background: none;
        border: 0;
        position: relative;
        border: 1px solid #000;
    }
    .header-menu-icon span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 250ms ease-in-out;
        -moz-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
        display: block;
        opacity: 1;
        width: 30px;
        height: 3px;
        background-color: #000;
    }
    .header-menu-icon span:nth-of-type(1) {
        margin: -9px 0 0;
    }
    .header-menu-icon span:nth-of-type(3) {
        margin: 9px 0 0;
    }
    .header-menu-icon.menu-active span:nth-of-type(1) {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        margin: 0;
    }
    .header-menu-icon.menu-active span:nth-of-type(2) {
        opacity: 0;
    }
    .header-menu-icon.menu-active span:nth-of-type(3) {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        -o-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
        margin: 0;
    }
    header .primary-navigation {
        display: none;
        text-align: left;
    }
    header .primary-navigation ul {
        padding: 0 12px;
    }
    nav.display-block {
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        left: 0;
        top: 82px;
        background-color: #0B2239;
        /*transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);*/
    }
    .primary-navigation ul li {
        display: list-item;
        border-bottom: 2px solid #fff;
    }
    .primary-navigation ul li:last-child {
        border-bottom: 0;
    }
    .primary-navigation ul li::before {
        color: #fff;
        float: left;
        margin: 15px 0 0 5px;
        width: 5px;
        content: '\2022';
    }
    .primary-navigation ul li a {
        color: #fff;
        text-transform: capitalize;
        display: block;
        position: relative;
        padding: 13px 15px;
    }
    .primary-navigation ul .accordion-button-required::after {
        position: absolute;
        right: 10px;
        left: inherit;
        top: inherit;
    }
    .header-container .logo {
        width: 50%;
    }
    .header-container > div:last-child {
        width: 50%;
        padding-right: 16px;
    }
}