.doubt-page-container {
    max-width: 860px;
    margin: 30px auto 0;
    padding: 30px;
    color: #000;
    letter-spacing: 1px;

    img {
        max-width: 100%;
    }

    p {
        font-size: 16px;
    }

    .drag-drop-file {
        margin-top: 0;

        .drag-upload-container {
            max-width: 350px;

            span {
                background-color: #fffaf0;
                color: #000;
                line-height: 1.3;
            }
        }
    }

    .doubt-status-container {
        margin: 25px 0;

        span {
            display: inline-block;
            margin: 10px 8px 10px 0;
        }

        .doubt-status {
            color: #fff;
            padding: 10px 26px;
            margin-right: 30px;
            border-radius: 20px;
            letter-spacing: 1px;
        }

        .doubt-status-open {
            background-color: #006400;
        }

        .for-more-updates {
            padding: 12px 20px;
            background-color: #A52A2A;
            color: #fff;
            border-radius: 20px;
            letter-spacing: 1px;
        }
    }

    .doubt-page-sign-up {
        margin-bottom: 20px;

        a {
            display: inline-block;
            background-color: #4682b4;
            color: white;
            padding: 12px 40px;
            border-radius: 25px;
            text-decoration: none;
        }
    }

    .question-thread {
        border-bottom: 4px solid #007582;
        padding-bottom: 26px;
        margin-bottom: 25px;

        .name-date {
            margin-bottom: 20px;
        }
    }

    .expert-section {
        h2 {
            font-size: 18px;
            text-align: center;
  
            span {
                display: block;
            }
        }

        .drag-drop-file {
            margin-bottom: 20px;

            .drag-upload-container {
                span {
                    background-color: #4682b4;
                    color: #fff;
                }
            }
        }

        .image-container {
            margin: 25px 0;
        }

        .expert-comment-section {
            label {
                display: block;
            }

            textarea {
                display: block;
                width: 100%;
                padding: 10px;
                font-size: 16px;
                margin: 10px 0;
            }

            .submit-content {
                text-align: center;
                margin-top: 20px;

                input[type=submit] {
                    padding: 15px 25px;
                    font-size: 16px;
                    background-color: #4682b4;
                    color: #fff;
                    letter-spacing: 1px;
                    border: 0;
                    border-radius: 25px;
                }
            }
        }
    }

    .image-container {
        text-align: center;
    }

    .doubt-comments {
        h2 {
            font-size: 32px;
            margin-bottom: 20px;

            span {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 4px solid #000;
            }
        }

        .add-comment {
            label {
                display: block;
                margin-bottom: 10px;
                line-height: 1.5;
            }

            textarea {
                display: block;
                width: 100%;
                margin-bottom: 20px;
                padding: 15px;
                font-size: 16px;
            }

            input[type=submit] {
                display: block;
                background-color: #4682b4;
                width: 100%;
                padding: 18px;
                color: #000;
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 1px;
                border: 0;
                color: #fff;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .doubt-page-container {
        .image-container {
            img {
                min-width: 450px;
            }
        }
    }
}
