.doubt-lists-container {
    background-color: #eee;
    margin: 20px 0;

    h1 {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        padding: 20px 10px;
    }

    .doubt-lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;

        li {
            flex: 0 0 47%;
            width: 47%;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            border-left: 4px solid #4682b4;
            padding: 20px;
            margin: 10px 0;
            background-color: #87ceeb;
            min-width: 199px;
            text-align: center;

            a {
                color: black;
            }
        }

        span {
            margin: 0 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
	.doubt-lists-container {
        .doubt-lists {
            width: 90%;
            margin: 30px auto;

		    li {
               flex: 0 0 31%;
               width: 31%;
            }
        }
    }
}